
/* 変数
----------------------------------------*/

$themeColor: #e5ba05;

$themeSubColor: #13aca8;

$attentionColor: #e95e39;


// font-family: 'Armata', sans-serif;
// font-family: 'Sorts Mill Goudy', serif;
// font-family: 'Lora', serif;
// font-family: 'Sawarabi Mincho', sans-serif;
// font-family: 'M PLUS Rounded 1c', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Lobster', cursive;
// font-family: 'Metamorphous', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Slabo 27px', serif;
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'Bitter', serif;
// font-family: 'Anton', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Libre Baskerville', serif;

// $fontFam1: 'Lora' , serif;

// $fontFam1: 'Arvo', serif;
// $fontFam1: 'Lobster', cursive;
// $fontFam1: 'Slabo 27px', serif;
// $fontFam1: 'Titillium Web', sans-serif;
$fontFam1: 'Josefin Sans', sans-serif;

$fontFam2: "Sawarabi Gothic" , sans-serif;



$widthMargin: 1.5rem;

$baseVerticalMargin: 4rem;